<html>
  <head>
    <title>TripTastic</title>
    <!--<link href='https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300' rel='stylesheet' type='text/css'>-->
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
  </head>
  
  <header>
    <h1 id="title">TripTastic</h1>
    <h2>An Unexpected Journey</h2>
  </header>
  
  <body>
    <%= link_to 'New Destinations', new_destination_path %>
  </body>
  
</html>
